################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/API.Test/FileContentIndex
/.vs/docker-gs-ping/v17
/.vs
